<div class="container div-main">
	<div class="row">
		<div class="col-md-9 col-md-offset-2">
			<div class="jumbotron vertical-center container-fluid">
				<h2>Add Purchase Order</h2>
				<hr>
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-md-3">
							<h4> Select Supplier: </h4>
						</div>
						<div class="col-md-5">
							<typeahead-dropdown ng-model='selectedOption2' options='suppliers'></typeahead-dropdown>
						</div>
					</div>
					<div ng-show="selectedOption2">
						<div class="form-group">
							<div class="col-md-3">
								
							</div>
							<div class="col-md-8">
								Supplier Name: {{selectedOption2.name}}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3">
							
							</div>
							<div class="col-md-8">
								Supplier Address: {{selectedOption2.address}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3">
							<h4> Ship Via: </h4>
						</div>
						<div class="col-md-8">
							<input type="text" ng-model="shipVia" class="form-control" placeholder="Ship Via">
						</div>
					</div>
					<!-- <div class="form-group">
						<input type="text" class="form-control" datepicker-popup={{format}} ng-model="dateOrdered" datepicker-options="dateOptions" is-open="dateOpen.opened" ng-required="true" close-text="Close">

	                    <span class="input-group-btn">
	                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
					</div> -->

					<div class="form-group">
						<div class="col-md-3">
							<h4> 	Date Ordered: </h4>
						</div>
						<div class="dropdown col-md-5">
							<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
								<div class="input-group">
									<input type="text" class="form-control" data-ng-model="data.dateDropDownInput" data-date-time-input="YYYY-MM-DD HH:mm a">
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="data.dateDropDownInput"></datetimepicker>
							</ul>
						</div>
						<div class="dropdown col-md-4">
							Date: {{ data.dateDropDownInput | date:'fullDate' }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3">
							<h4> Expected Date to be Received: </h4>
						</div>
						<div class="col-md-5">
							<div class="dropdown">
								<a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown">
									<div class="input-group">
										<input type="text" class="form-control" data-ng-model="data.dateReceived" data-date-time-input="YYYY-MM-DD HH:mm a">
										<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									</div>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<datetimepicker data-ng-model="data.dateReceived" min-date="data.dateDropDownInput"></datetimepicker>
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							Date: {{ data.dateReceived | date:'fullDate' }}
						</div>
					</div>
					<div class="form-group" ng-show="all">
						<div class="col-md-3">
							<h4> Branch: </h4>
						</div>
						<div class="col-md-5">
							<p>
					            <typeahead-dropdown style='width:300px' ng-model='selectedOption1' options='branches'></typeahead-dropdown>
				          	</p>
						</div>
						<div class="col-md-4">
							Branch: {{selectedOption1.name}}
						</div>
					</div>
					<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
					<div class="form-group pull-right">
						<button class="btn btn-primary" ng-click="add()" ng-disabled="created"> Add Transaction
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<!-- <div>
				ordered transaction NUMBER: {{ transaction.id }}
				<input type="hidden" ng-model="transaction.id">
			</div> -->


			<hr>
			<div ng-hide="transaction == null">
				<h2>Order Details</h2>

				<table class="table table-bordered table-hover table-condensed">
					<tr style="font-weight: bold">
						<td>Photo</td>
						<td style="width:10%">Product Name</td>
						<td style="width:5%">Quantity</td>
						<td style="width:10%">Unit</td>
						<td style="width:10%">Stock Number</td>
						<td style="width:5%">Color</td>
						<td style="width:15%">Description</td>
						<td style="width:10%">Unit Price</td>
						<td style="width:5%">Discount (Per unit)</td>
						<td style="width:5%">Discounted Price</td>
						<td style="width:10%">Total</td>
						<td style="width:15%">Other Notes</td>
						<td style="width:10%">
							<button class="btn btn-primary" data-toggle="modal" data-target="#modalAddOrder" data-dismiss="modal"><span class="glyphicon glyphicon-plus"></span> Add Order</button>
						</td>
					</tr>
					<tr ng-repeat="product in products">
						<td>
							<div ng-if="product.photo_extension != null">
								<img ng-src="../BigJRepository/images/{{product.productId}}.{{product.photo_extension}}" width="100">
							</div>
							<div ng-if="product.photo_extension == null">
								<img ng-src="../BigJRepository/images/default.jpg" width="100">
							</div>
						</td>
						<td>
							{{ product.product }}
						</td>
						<td>
							<span editable-text="product.quantity" e-name="quantity" e-form="rowform" e-required>
	          	{{ product.quantity || 'empty'}}
	        </span>
						</td>
						<td>
							<!-- <span editable-text="product.unit" e-name="unit" e-form="rowform" e-required> -->
	          	{{ product.unit || 'empty'}}
	        <!-- </span> -->
						</td>
						<td>
							<!-- <span editable-text="product.stockNumber" e-name="stockNumber" e-form="rowform" e-required> -->
							{{ product.stockNumber || 'empty'}}
							<!-- </span> -->
						</td>
						<td>
							<!-- <span editable-text="product.color" e-name="color" e-form="rowform" e-required> -->
							{{ product.color || 'empty'}}
							<!-- </span> -->
						</td>
						<td>
							<span editable-text="product.description" e-name="description" e-form="rowform" e-required>
	          	{{ product.description || 'empty'}}
	        </span>
						</td>
						<td>
							<span editable-text="product.unitPrice" e-name="unitPrice" e-form="rowform" e-required>
	          	{{ product.unitPrice | currency:"₱" }}
	        </span>
						</td>
						<td>
							<span editable-text="product.discount" e-name="discount" e-form="rowform" e-required>
	          	{{ product.discount}}%
	        </span>
						</td>
						<td>
							{{ ((product.unitPrice * 1) - product.unitPrice * (product.discount / 100)) | currency:"₱" }}
						</td>
						<td>
							<!-- (product.unitPrice + (product.unitPrice * (product.discount / 100))) -->
							{{ ((product.unitPrice * 1) - product.unitPrice * (product.discount / 100)) * product.quantity | currency:"₱" }}
						</td>
						<td>
							<span editable-text="product.notes" e-name="notes" e-form="rowform" e-required>
	  	{{ product.notes }}
	</span>
						</td>
						<td style="white-space: nowrap">
							<!-- form -->
							<form editable-form name="rowform" onbeforesave="saveUser($data, product.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == product">
								<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save
								</button>
								<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel
								</button>
							</form>
							<div class="buttons" ng-show="!rowform.$visible">
								<button class="btn btn-success" ng-click="rowform.$show()"><span class="glyphicon glyphicon-check"></span> Update</button>
								<button class="btn btn-danger" mwl-confirm title="Remove" message="Do you want to remove this product?" confirm-text="<span class='glyphicon glyphicon-ok'></span> Yes" cancel-text="<span class='glyphicon glyphicon-remove'></span> No" placement="top" on-confirm="removeUser($index, product)"
										on-cancel="cancelClicked = true"   confirm-button-type="primary"
			                cancel-button-type="danger"><span class="glyphicon glyphicon-trash"></span> Remove</button>
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>Total: {{ getTotal() | currency:"₱"}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modalAddOrder" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Product</h4>
					<div>
						<label>
							<input type="radio" ng-model="$parent.selected" value="old" ng-change="onChange('old')"> OLD
						</label>
						<label>
							<input type="radio" ng-model="$parent.selected" value="new" ng-change="onChange('new')"> NEW
						</label>
						<!-- <br> Selected thing: {{selected}} -->
					</div>
				</div>
				<div class="modal-body">

					<div ng-show="selected=='old'">
						<div class="padding">
							<div class="col-md-3">
								Existing Product (Re-stock)
							</div>
							<div class="col-md-8">
								<select ng-model="storageProduct" class="form-control" ng-change="selectedItemChanged(storageProduct)">
									<option ng-repeat="prod in prods" value="{{prod.product.id}}">{{ prod.product.name }}</option>
								</select>
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								<i>Storage quantity:</i> <br>
								<i>Storage unit:</i>
							</div>
							<div class="col-md-8">
								<i>{{ itemInstance.quantity }}</i> <br>
								<i>{{ itemInstance.unit }}</i>
							</div>
						</div>
					</div>

					<div ng-show="selected=='new'">
						NEW PRODUCT
						<div class="padding">
							<div class="col-md-3">
								Product Name:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="productName" class="form-control" placeholder="Product Name">
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								Color:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="productColor" class="form-control" placeholder="Color">
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								Size:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="productSize" class="form-control" placeholder="Size">
							</div>
						</div>
						<!-- <div class="padding">
							<div class="col-md-3">
								Description:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="productDescription" class="form-control" placeholder="Description">
							</div>
						</div> -->
						<div class="padding">
							<div class="col-md-3">
								Stock Number:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="stockNumber" class="form-control" placeholder="Stock Number">
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								Unit:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="unit" class="form-control" placeholder="Unit">
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								Price:
							</div>
							<div class="col-md-8">
								<input type="number" ng-model="productPrice" class="form-control" placeholder="Price">
							</div>
						</div>
					</div>
					<hr>
					<div ng-show="hasPick">
						<div class="padding">
							<div class="col-md-3">
								Quantity:
							</div>
							<div class="col-md-8">
								<input type="number" ng-model="quantity" class="form-control" placeholder="Quantity">
							</div>
						</div>
						<!-- <div class="padding">
							<div class="col-md-3">
								Unit:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="unit" class="form-control" placeholder="Unit">
							</div>
						</div> -->
						<div class="padding">
							<div class="col-md-3">
								Discount:
							</div>
							<div class="col-md-8">
								<input type="number" ng-model="discount" class="form-control" placeholder="Discount in Percent" min="0" max="100">
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								Description:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="description" class="form-control" placeholder="Description">
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								Unit Price:
							</div>
							<div class="col-md-8">
								<input type="number" ng-model="unitPrice" class="form-control" placeholder="Unit Price">
							</div>
						</div>
						<div class="padding">
							<div class="col-md-3">
								Other Notes:
							</div>
							<div class="col-md-8">
								<input type="text" ng-model="notes" class="form-control" placeholder="Other Notes">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-toggle="modal" ng-click="addUser()" data-dismiss="modal">
						<span class="glyphicon glyphicon-ok"></span> Submit
					</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
