<div class="signin container div-main">
    <div class="col-md-6 col-md-offset-3">
        <h3>Create an Account</h3>

        <div class="jumbotron vertical-center container-fluid">
            <form name="userForm" ng-submit="submitForm()" novalidate>
                
                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <div class="form-group">
                                First Name: <input type="text" class="form-control" placeholder="First Name" ng-model="formInfo.firstName">
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-6">
                        <div class="form-group">
                                Last Name: <input type="text" class="form-control" placeholder="Last Name" ng-model="formInfo.lastName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <div class="form-group">
                            Contact Number: <input type="text" class="form-control" placeholder="Contact Number" ng-model="formInfo.contactNumber">
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-6">
                        <div class="form-group">
                            Gender
                            <select ng-model="formInfo.gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        Birthday:
                    </div>
                    <div class="col-sm-4">
                        <select ng-model="formInfo.month" class="form-control" ng-change="selectedChanged(formInfo.month)" ng-blur="checkDate()">
                            <option  ng-repeat="month in months" value="{{month.value}}">{{ month.name }}</option>
                        </select>
                        <!-- {{ completeDate }} -->
                    </div>
                    <div class="col-sm-3">
                        <input type="text" maxlength="2" class="form-control" placeholder="Day" ng-model="formInfo.day" ng-blur="checkDate()">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" maxlength="4" class="form-control" placeholder="Year" ng-model="formInfo.year" ng-blur="checkDate()">
                    </div>
                    <!-- <button ng-click="check()">click</button> -->
                    <!-- {{ completeDate }} -->
                </div>
                
                <div class="row">
                    <div class="col-sm-2">
                        Username:
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group has-warning has-feedback"  ng-class="{ 'has-error' : userForm.usname.$invalid && !userForm.usname.$pristine }">
                            <input type="text" placeholder="Username" class="form-control" name="usname" ng-model="formInfo.username" required autocomplete="off" />
                            <span ng-show="userForm.usname.$invalid && !userForm.usname.$pristine" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                            <span id="inputWarning2Status" class="sr-only">(warning)</span>
                        </div>                
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-2">
                        Password:
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group has-warning has-feedback"  ng-class="{ 'has-error' : userForm.psword.$invalid && !userForm.psword.$pristine }">
                            <input type="password" placeholder="Password" class="form-control" name="psword" ng-model="formInfo.password" required/>
                            <span ng-show="userForm.psword.$invalid && !userForm.psword.$pristine" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                            <span id="inputWarning2Status" class="sr-only">(warning)</span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group has-warning has-feedback"  ng-class="{ 'has-error' : userForm.branch.$invalid && !userForm.branch.$pristine }">
                    <label>Branch Assigned:</label>
                    <select ng-model="formInfo.branch" name="branch" class="form-control" required>
                        <option ng-repeat="branch in branches" value="{{branch.id}}">{{ branch.name }}</option>
                    </select>
                    <span ng-show="userForm.branch.$invalid && !userForm.branch.$pristine" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                    <span id="inputWarning2Status" class="sr-only">(warning)</span>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary" ng-click="create()" ng-disabled="userForm.$invalid">Create
                        Account
                    </button>
                </div>
            
            </form>
        </div>
         <a href="#" ui-sref="signin">Back to sign in</a>
    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

   <!-- <label ng-repeat="branch in branches">
                  <input type="radio" ng-model="$parent.selected" value="{{branch.id}}" ng-change="onChange(branch)"> {{ branch.name }}
                </label> -->